#btn5{
    position: relative;
    border: none;
    background-color: #0fbcf9; 
    color:black;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.7s;
}
#btn5:hover{
    color: white;
    border:0px solid #0fbcf9;   
    background: none;
    box-shadow: -2px -2px 3px #0fbcf9,2px 2px 3px  #0fbcf9;   
}