/* *{
    border: 2px solid red;
} */
.container {
  height: 90vh;
}
button {
  width: 35px !important;
}
.search-icon {
  font-size: 1.3rem;
}
.form-control {
  width: 77% !important;
}
.form-control:focus {
  border-color: white;
  box-shadow: none !important;
}

.box {
  background: #9867b3;
  background: linear-gradient(0deg, #9867b3 0%, #2172b4 100%);
}
img {
  position: relative;
  top: 2rem;
  height: 6rem;
}
.details {
  font-size: 1rem;
}
.icon {
  font-size: 1.7rem;
}
.weather,
.error {
  display: none;
}
.weather-icon {
  width: 35% !important;
}
.margin {
  margin-top: -36px;
}
.refresh {
  height: 3rem;
  position: relative;
  top: 0rem;
}
